<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>搜索结果</title>
    <link rel="stylesheet" href="./static/font/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="./static/css/index/bootstrap.min.css">

</head>
<body>
<button class="btn btn-lg btn-adn">当前位置&nbsp;&nbsp;>>&nbsp;&nbsp;<b>{$table}</b>&nbsp;搜索结果列表</button>
<br>
<button class="btn btn-lg btn-adn">一共找到&nbsp;&nbsp;{$data|count}&nbsp;&nbsp;个信息</button>

<div style="float: right;margin-right: 30px;">
    <form action="admin.php?s=index/search" method="post">
        <select name="search" id="search">
            <option value="id">ID</option>
            <option value="tname">真实姓名</option>
            <option value="number">身份证号码</option>
            <option value="address">地区</option>
            <option value="zname">昵称</option>
            <option value="degree">学历</option>
            <option value="position">现任职位</option>
            <option value="des">志愿者介绍</option>
            <option value="exp">志愿者经历</option>
            <option value="rank">志愿者等级</option>
            <option value="create_time">申请时间</option>
        </select>
        <input type="hidden" name="table" value="volunteer">
        <input type="text" name="value" id="value">
        <input type="submit" value="查找" class="btn btn-xs btn-primary">
        <a href="javascript:history.go(-1)" class="btn btn-success">返回</a>

    </form>
</div>
<div style="margin-top: 50px"></div>
    <table class="table table-hover">
        <thead style="background-color: #b1dfbb;color: white;font-size: 20px;">
        <tr>
            <!--<td>id</td>-->
            <td>志愿者申请人</td>
            <td>身份证号码</td>
            <td>志愿者昵称</td>
            <td>志愿者状态</td>
            <td>申请时间</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        {foreach $data as $d}
        <tr>
            <td>{$d.tname}</td>
            <td>{$d.number}</td>
            <td>{$d.zname}</td>
            {if $d.state == 0}
            <td>待审核</td>
            {elseif $d.state == 1 /}
            <td>志愿者申请通过</td>
            {elseif $d.state == 2 /}
            <td>志愿者申请不通过</td>
            {else /}
            <td>异常或重复提交</td>
            {/if}
            <td>{$d.create_time}</td>
            <td width="250px">
                <button class="btn btn-lg btn-primary">

                    <a  href="admin.php?s=volunteer/single/id/{$d.id}" title="查看"><font class="icon-menu" color="white"></font></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="admin.php?s=index/delete/table/publish/id/{$d.id}" title="删除"><font class="icon-delete" color="#DC6A55"></font></a>

                </button>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</body>
<script src="./static/js/admin/jquery.min.js"></script>
<script src="./static/js/admin/bootstrap.min.js"></script>
</html>