<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>本站信息</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">-->

    <link rel="stylesheet" href="./static/css/index/style.css">
    <link rel="stylesheet" href="./static/font/icomoon/style.css">
    <link rel="stylesheet" href="./static/css/index/bootstrap.min.css">
</head>
<body>
<div class="" id="contact-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-10 bg-secondary">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-lg-10 text-center heading-section mb-5 align-self-center" style="padding: 20px;">
                        <div class="paws">
                            <span class="icon-paw"></span>
                        </div>
                        <h2 class="text-white mb-6">本站信息</h2>

                        <table class="table table-hover" style="color: white;margin-top: 50px">
                            <tbody>
                            <tr>
                               <td><b>网站名称</b></td>
                                <td>{$data.webname}</td>
                            </tr>
                            <tr>
                                <td><b>网站营业时间</b></td>
                                <td>{$data.Operating_hours}</td>
                            </tr>
                            <tr>
                                <td><b>地址</b></td>
                                <td>{$data.address}</td>
                            </tr>
                            <tr>
                                <td><b>电话</b></td>
                                <td>{$data.phone}</td>
                            </tr>
                            <tr>
                                <td><b>邮箱</b></td>
                                <td>{$data.email}</td>
                            </tr>
                            <tr>
                                <td><b>上次修改资料时间</b></td>
                                <td>{$data.update_time}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="admin.php?s=index/edit/table/website/id/1" style="color: white;font-size: 20px;">编辑网站信息</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="javascript:history.go(-1)" style="color: white">返回</a>                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<button class="btn btn-primary">-->
                            <!--<a href="admin.php?s=index/edit/table/website/id/1"><font class="icon-edit" color="white"></font></a>-->
                        <!--</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>