<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/index/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/index/style.css">
    <link rel="stylesheet" href="./static/font/icomoon/style.css">
    <link rel="stylesheet" href="./static/css/index/bootstrap.min.css">

</head>
<body>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner" >

    <div class="container">
        <div class="row align-items-center">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0">萌宠汇<span class="text-primary">.</span> </a></h1>
            </div>

            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="#" class="nav-link">首页</a></li>
                        <li><a href="#" class="nav-link">驿站</a></li>
                        <li><a href="#" class="nav-link">志愿者</a></li>
                        <li><a href="index.php?s=blog/blog" class="nav-link">博客</a></li>
                        <li><a href="index.php?s=index/zixun" class="nav-link">宠物资讯</a></li>
                        <li><a href="#" class="nav-link">照片墙</a></li>

                        <li class="has-children">
                            <a href="#" class="nav-link">关于</a>
                            <ul class="dropdown">
                                <li><a href="#" class="nav-link">服务</a></li>
                                <li><a href="index.php?s=index/contact" class="nav-link">联系</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
        </div>
    </div>

</header>

<div style="height: 100px"></div>

<section class="site-blocks-cover overflow-hidden bg-light" style="background-image: url('./static/img/index/index.jpg');background-size: 100% 100%">
    <div class="container">
        <div align="center" style="margin-top: 10%"><h1>让我们带给你最好的服务</h1></div>
    </div>
</section>

<footer>
    <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
            <div class="border-top pt-5">
                <p class="copyright"><small>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >li-zhang-mao</a>
                </small></p>

            </div>
        </div>
    </div>
</footer>

</body>
</html>