<!doctype html>
<html lang="en">
<head>
    <title>常见问题</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./static/font/icomoon/style.css">

    <link rel="stylesheet" href="./static/css/index/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/index/jquery-ui.css">
    <link rel="stylesheet" href="./static/css/index/owl.carousel.min.css">
    <link rel="stylesheet" href="./static/css/index/owl.theme.default.min.css">

    <link rel="stylesheet" href="./static/css/index/jquery.fancybox.min.css">

    <link rel="stylesheet" href="./static/css/index/bootstrap-datepicker.css">

    <link rel="stylesheet" href="./static/font/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="./static/css/index/aos.css">

    <link rel="stylesheet" href="./static/css/index/style.css">
</head>
<body>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner" >

    <div class="container">
        <div class="row align-items-center">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0">萌宠汇<span class="text-primary">.</span> </a></h1>
            </div>

            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="index.php?s=index/index" class="nav-link">首页</a></li>
                        <li class="has-children">
                            <a href="index.php?s=station/station">宠物驿站</a>
                            <ul class="dropdown">
                                <li><a href="index.php?s=station/application">创建驿站</a></li>
                                {if $name==''}
                                <li><a href="index.php?s=station/login">登录驿站</a></li>
                                {else /}
                                <li><a href="index.php?s=station/mystation/sid/{$sid}">我的驿站页</a></li>
                                <li><a href="index.php?s=station/logout">退出驿站</a></li>
                                {/if}
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="index.php?s=volunteer/volunteer">志愿者</a>
                            <ul class="dropdown">
                                <li><a href="index.php?s=volunteer/application">成为志愿者</a></li>
                                {if $volunteer==''}
                                <li><a href="index.php?s=volunteer/login">登录志愿者</a></li>
                                {else /}
                                <li><a href="index.php?s=volunteer/myvolunteer/sid/{$vid}">我的志愿者页</a></li>
                                <li><a href="index.php?s=volunteer/logout">退出登录</a></li>
                                {/if}
                            </ul>
                        </li>
                        <li><a href="index.php?s=baike/baike" class="nav-link">宠物百科</a></li>
                        <li><a href="index.php?s=blog/blog" class="nav-link">博客</a></li>
                        <li><a href="index.php?s=index/problem" class="nav-link">养宠小知识</a></li>
                        <li><a href="index.php?s=index/contact" class="nav-link">反馈</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
        </div>
    </div>

</header>

<div style="height: 100px"></div>


<section class="site-section bg-light block-13" id="testimonials-section" data-aos="fade">
    <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">
                <div class="paws">
                    <span class="icon-paw"></span>
                </div>
                <h2 class="text-black mb-2">常见问题</h2>
            </div>
        </div>
        <div  data-aos="fade-up" data-aos-delay="200">
            <div class="owl-carousel nonloop-block-13">
                {foreach $data as $d}
                <div>
                    <div class="block-testimony-1 text-center">

                        <blockquote class="mb-4" style="color: white">
                            <h4 >《{$d.problem}》</h4>
                            <font size="4">{$d.message}<br></font>
                        </blockquote>
                        <h3 class="font-size-20 text-black">{$d.update_time}</h3>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
            <div class="border-top pt-5">
                <p class="copyright"><small>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >li-zhang-mao</a>
                </small></p>

            </div>
        </div>
    </div>
</footer>

<script src="./static/js/index/jquery-3.3.1.min.js"></script>
<script src="./static/js/index/jquery-ui.js"></script>
<script src="./static/js/index/popper.min.js"></script>
<script src="./static/js/index/bootstrap.min.js"></script>
<script src="./static/js/index/owl.carousel.min.js"></script>
<script src="./static/js/index/jquery.countdown.min.js"></script>
<script src="./static/js/index/jquery.easing.1.3.js"></script>
<script src="./static/js/index/aos.js"></script>
<script src="./static/js/index/jquery.fancybox.min.js"></script>
<script src="./static/js/index/jquery.sticky.js"></script>
<script src="./static/js/index/isotope.pkgd.min.js"></script>
<script src="./static/js/index/main.js"></script>
</body>
</html>