<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>blog</title>
  <link rel="stylesheet" href="./static/font/icomoon/style.css">

  <link rel="stylesheet" href="./static/css/index/bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/index/jquery-ui.css">
  <link rel="stylesheet" href="./static/css/index/owl.carousel.min.css">
  <link rel="stylesheet" href="./static/css/index/owl.theme.default.min.css">

  <link rel="stylesheet" href="./static/css/index/jquery.fancybox.min.css">

  <link rel="stylesheet" href="./static/css/index/bootstrap-datepicker.css">

  <link rel="stylesheet" href="./static/font/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="./static/css/index/aos.css">

  <link rel="stylesheet" href="./static/css/index/style.css">
</head>
<body>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner" >

  <div class="container">
    <div class="row align-items-center">

      <div class="col-6 col-xl-2">
        <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0">萌宠汇<span class="text-primary">.</span> </a></h1>
      </div>

      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li><a href="index.php?s=index/index" class="nav-link">首页</a></li>
            <li class="has-children">
              <a href="index.php?s=station/station">宠物驿站</a>
              <ul class="dropdown">
                <li><a href="index.php?s=station/application">创建驿站</a></li>
                {if $name==''}
                <li><a href="index.php?s=station/login">登录驿站</a></li>
                {else /}
                <li><a href="index.php?s=station/mystation/sid/{$sid}">我的驿站页</a></li>
                <li><a href="index.php?s=station/logout">退出驿站</a></li>
                {/if}
              </ul>
            </li>
            <li class="has-children">
              <a href="index.php?s=volunteer/volunteer">志愿者</a>
              <ul class="dropdown">
                <li><a href="index.php?s=volunteer/application">成为志愿者</a></li>
                {if $volunteer==''}
                <li><a href="index.php?s=volunteer/login">登录志愿者</a></li>
                {else /}
                <li><a href="index.php?s=volunteer/myvolunteer/sid/{$vid}">我的志愿者页</a></li>
                <li><a href="index.php?s=volunteer/logout">退出登录</a></li>
                {/if}
              </ul>
            </li>
            <li><a href="index.php?s=baike/baike" class="nav-link">宠物百科</a></li>
            <li><a href="index.php?s=blog/blog" class="nav-link">博客</a></li>
            <li><a href="index.php?s=index/problem" class="nav-link">养宠小知识</a></li>
            <li><a href="index.php?s=index/contact" class="nav-link">反馈</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
    </div>
  </div>

</header>

<div style="height: 100px"></div>


<section class="site-section">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up" style="color: white;background-color: #A2C0BE;padding: 30px;margin-top: 30px;margin-bottom: 30px;background-size: 100% 100%;box-shadow: 0 7px 20px 0 grey;">
          <div class="col-lg-6 text-center heading-section mb-5">
            <h2 class="text-black mb-2"><font color="white">{$data.title}</font></h2>
            <p>{$data.update_time}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 blog-content" style="overflow: hidden">
            {$content|raw}
            <div class="pt-5">
              <p>关键词：&nbsp;&nbsp;&nbsp;&nbsp;{$data.keyword}</p>
            </div>


            <div class="pt-5">
              <h3 class="mb-5">共{$comment|count}次评论</h3>
              <ul class="comment-list">
                {foreach $comment as $co}
                <li class="comment">
                  <div class="vcard bio">
                    <img src="./static/img/index/moren.png" alt="Image">
                  </div>
                  <div class="comment-body">
                    <h3>{$co.name}</h3>
                    <div class="meta">{$co.create_time}</div>
                    <p>{$co.content}</p>
                    <p><a href="#" class="reply">回复</a></p>
                  </div>
                </li>
                {/foreach}
              </ul>
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">评论</h3>
                <form action="index.php?s=blog/dealcommit" method="post" class="">
                  <input type="hidden" name="pid" value="{$data.id}">
                  <div class="form-group">
                    <label for="name">姓名</label>
                    <input type="text" name="name" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">邮箱</label>
                    <input type="email" name="email" class="form-control" id="email">
                  </div>

                  <div class="form-group">
                    <label for="message">留言</label>
                    <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="提交" class="btn btn-primary">
                  </div>
                </form>
              </div>
            </div>

          </div>
          <div class="col-md-4 sidebar">

            <div class="sidebar-box" align="center">
              <form action="index.php?s=blog/search" method="post" class="search-form">
                <div class="form-group">
                  <select name="select" id="select" style="width: 50px;border: none;height: 40px">
                    <option value="title">标题</option>
                    <option value="keyword">关键词</option>
                    <option value="des">描述</option>
                    <option value="text">内容</option>
                    <option value="create_time">发布时间</option>
                  </select>
                  <input type="text" name="search" id="search" placeholder="输入查询内容" style="width: 150px;border: none;height: 40px">
                  <input type="submit" value="查询" style="width: 50px;border: none;height: 40px">
                </div>
              </form>
            </div>
            <div class="sidebar-box">
              <div class="categories">
                <h3>其他博客</h3>
                {foreach $qblog as $d2 }
                <li style="padding: 10px;background-color: #A2C0BE;color: white;margin: 5px;">
                  <a href="index.php?s=blog/single/id/{$d2.id}">
                        <p><a href="index.php?s=blog/single/id/{$d2.id}" style="color: white">{$d2.title}</a></p>
                        <span class="post-meta mb-3 d-block">{$d2.update_time}</span>
                  </a>
                </li>
                {/foreach}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p class="copyright"><small>
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >li-zhang-mao</a>
            </small></p>

          </div>
        </div>
      </div>
    </footer>

    <script src="./static/js/index/jquery-3.3.1.min.js"></script>
    <script src="./static/js/index/jquery-ui.js"></script>
    <script src="./static/js/index/popper.min.js"></script>
    <script src="./static/js/index/bootstrap.min.js"></script>
    <script src="./static/js/index/owl.carousel.min.js"></script>
    <script src="./static/js/index/jquery.countdown.min.js"></script>
    <script src="./static/js/index/jquery.easing.1.3.js"></script>
    <script src="./static/js/index/aos.js"></script>
    <script src="./static/js/index/jquery.fancybox.min.js"></script>
    <script src="./static/js/index/jquery.sticky.js"></script>
    <script src="./static/js/index/isotope.pkgd.min.js"></script>
    <script src="./static/js/index/main.js"></script>
  </body>
</html>