<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>驿站</title>
    <link rel="stylesheet" href="./static/font/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="./static/css/index/bootstrap.min.css">

</head>
<body>
<button class="btn btn-lg btn-adn">当前位置&nbsp;&nbsp;>>&nbsp;&nbsp;
    {if $flag==0}待审核驿站
    {elseif $flag == 1}审核通过驿站
    {elseif $flag == 2}异常经营驿站
    {elseif $flag == 4}用户重复申请驿站
    {else /}审核未通过驿站
    {/if}
</button>
<div style="margin: 30px">
    <a href="admin.php?s=station/state/flag/0" class="btn btn-primary">待审核驿站</a>
    <a href="admin.php?s=station/state/flag/1" class="btn btn-primary">审核通过驿站</a>
    <a href="admin.php?s=station/state/flag/2" class="btn btn-primary">异常经营驿站</a>
    <a href="admin.php?s=station/state/flag/4" class="btn btn-primary">用户重复申请驿站</a>
    <a href="admin.php?s=station/state/flag/3" class="btn btn-primary">审核未通过驿站</a>
</div>
<button class="btn btn-lg btn-adn">一共找到&nbsp;&nbsp;{$data|count}&nbsp;&nbsp;信息</button>
<table class="table table-hover">
    <thead style="background-color: #b1dfbb;color: white;font-size: 20px;">
    <tr>
        <!--<td>id</td>-->
        <td>申请人</td>
        <td>身份证号码</td>
        <td>驿站名</td>
        <td>驿站状态</td>
        <td>申请时间</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    {foreach $data as $d}
    <tr>
        <td>{$d.pname}</td>
        <td>{$d.id_number}</td>
        <td>{$d.sname}</td>
        {if $d.state == 0}
        <td>待审核</td>
        {elseif $d.state == 1 /}
        <td>正常经营</td>
        {elseif $d.state == 3 /}
        <td>申请不通过</td>
        {else /}
        <td>经营异常</td>
        {/if}
        <td>{$d.create_time}</td>
        <td width="250px">
            <button class="btn btn-lg btn-primary">

                <a  href="admin.php?s=station/single/id/{$d.id}" title="查看"><font class="icon-menu" color="white"></font></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="admin.php?s=index/delete/table/publish/id/{$d.id}" title="删除"><font class="icon-delete" color="#DC6A55"></font></a>

            </button>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
</body>
<script src="./static/js/admin/jquery.min.js"></script>
<script src="./static/js/admin/bootstrap.min.js"></script>
</html>