<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客详细信息</title>

    <link rel="stylesheet" href="./static/css/index/style.css">
    <link rel="stylesheet" href="./static/font/icomoon/style.css">
    <link rel="stylesheet" href="./static/css/index/bootstrap.min.css">
</head>
<body>
<div class="" id="contact-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-10 bg-secondary">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-lg-10 text-center heading-section mb-5 align-self-center" style="padding: 20px;">
                        <div class="paws">
                            <span class="icon-paw"></span>
                        </div>
                        <h2 class="text-white mb-6">博客信息</h2>

                        <table class="table table-hover" style="color: white;margin-top: 50px">
                            <tbody>
                            <tr>
                                <td><b>标题</b></td>
                                <td>{$data.name}</td>
                            </tr>
                            <tr>
                                <td><b>用户邮箱</b></td>
                                <td>{$data.email}</td>
                            </tr>
                            <tr>
                                <td><b>主题</b></td>
                                <td>{$data.them}</td>
                            </tr>
                            <tr>
                                <td><b>留言时间</b></td>
                                <td>{$data.create_time}</td>
                            </tr>
                            <tr>
                                <td colspan="2">具体留言</td>
                            </tr>
                            <tr>
                                <td colspan="2">{$data.msg}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>