<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>博客</title>
    <title>show</title>
    <link rel="stylesheet" href="./static/font/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="./static/css/index/bootstrap.min.css">

</head>
<body>

<table class="table table-hover">
    <thead style="background-color: black;color: white;font-size: 20px;">
    <tr>
        <td>id</td>
        <td>词名</td>
        <td>分类</td>
        <td>描述</td>
        <td>创建时间</td>
        <td>最近修改</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    {foreach $data as $d}
    <tr>
        <td width="50px">{$d.id}</td>
        <td>{$d.name}</td>
        <td>{$d.classb}</td>
        <td>{$d.des}</td>
        <td>{$d.create_time}</td>
        <td>{$d.update_time}</td>
        <td width="250px">
            <button class="btn btn-lg btn-primary">
                <a  href="admin.php?s=baike/showbaike/id/{$d.id}" title="查看"><font class="icon-menu" color="white"></font></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="admin.php?s=index/edit/table/baike/id/{$d.id}" title="编辑"><font class="icon-edit" color="white"></font></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="admin.php?s=baike/addbaike/" title="发布博客"><font class="icon-add" color="white"></font></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="admin.php?s=index/delete/table/publish/id/{$d.id}" title="删除"><font class="icon-delete" color="#DC6A55"></font></a>

            </button>
        </td>

    </tr>
    {/foreach}
    </tbody>
</table>
</body>
<script src="./static/js/admin/jquery.min.js"></script>
<script src="./static/js/admin/bootstrap.min.js"></script>

</html>